[Desktop Entry]
Name=Audio Volume (Win7 Mixer)
Comment=Adjust the volume of devices and applications

Icon=org.kde.plasma.volume
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-ConfigPlugins=kcm_pulseaudio

X-KDE-PluginInfo-Name=org.kde.plasma.volumewin7mixer
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Author=Harald Sitter + Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Version=26
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applet-volumewin7mixer
X-KDE-PluginInfo-KdeStoreId=1100894
X-KDE-PluginInfo-License=GPL

X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=Hardware
X-KDE-PluginInfo-EnabledByDefault=true

Name[fr]=Volume audio (Win7 Mixer)
Name[nl]=Geluidsvolume (Win7 Mixer)
Comment[fr]=Ajuster le volume des périphériques et des applications
Comment[nl]=Geluidsniveau van apparaten en toepassingen aanpassen
